body {
  color: $color--white;
  font-size: rem(15px);
  font-family: "FreightSansProBook";

}

.holder {
  max-width: rem(1190px);
  margin: 0 auto;
  position: relative;
}

img {
  backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}

p,
ul,
ol {
  color: $color--body-text;
  font-size: rem(15px);
  font-family: "FreightSansProBook";
  line-height: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

.jarallax {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.in-view {
  .section--title {
    &::after {
      opacity: 1;
    }
    &::before {
      opacity: 1;
    }
  }

  .slide-down {
    opacity: 1;
    transform: translateY(0px);
  }
  .slide-up {
    opacity: 1;
    transform: translateY(0px);
  }
  .fade-in {
    opacity: 1;
  }
  > * {
    &:nth-child(1n) {
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }
    &:nth-child(2n) {
      -webkit-transition-delay: 0.4s;
      -o-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }
    &:nth-child(3n) {
      -webkit-transition-delay: 0.6s;
      -o-transition-delay: 0.6s;
      transition-delay: 0.6s;
    }
    &:nth-child(4n) {
      -webkit-transition-delay: 0.8s;
      -o-transition-delay: 0.8s;
      transition-delay: 0.8s;
    }
    &:nth-child(5n) {
      -webkit-transition-delay: 1s;
      -o-transition-delay: 1s;
      transition-delay: 1s;
    }
    &:nth-child(6n) {
      -webkit-transition-delay: 1.2s;
      -o-transition-delay: 1.2s;
      transition-delay: 1.2s;
    }
    &:nth-child(7n) {
      -webkit-transition-delay: 1.4s;
      -o-transition-delay: 1.4s;
      transition-delay: 1.4s;
    }
    &:nth-child(8n) {
      -webkit-transition-delay: 1.6s;
      -o-transition-delay: 1.6s;
      transition-delay: 1.6s;
    }
    &:nth-child(9n) {
      -webkit-transition-delay: 1.8s;
      -o-transition-delay: 1.8s;
      transition-delay: 1.8s;
    }
    &:nth-child(10n) {
      -webkit-transition-delay: 2s;
      -o-transition-delay: 2s;
      transition-delay: 2s;
    }
    &:nth-child(11n) {
      -webkit-transition-delay: 2.2s;
      -o-transition-delay: 2.2s;
      transition-delay: 2.2s;
    }
    &:nth-child(12n) {
      -webkit-transition-delay: 2.4s;
      -o-transition-delay: 2.4s;
      transition-delay: 2.4s;
    }
    &:nth-child(13n) {
      -webkit-transition-delay: 2.6s;
      -o-transition-delay: 2.6s;
      transition-delay: 2.6s;
    }
    &:nth-child(14n) {
      -webkit-transition-delay: 2.8s;
      -o-transition-delay: 2.8s;
      transition-delay: 2.8s;
    }
    &:nth-child(15n) {
      -webkit-transition-delay: 3s;
      -o-transition-delay: 3s;
      transition-delay: 3s;
    }
    &:nth-child(16n) {
      -webkit-transition-delay: 3.2s;
      -o-transition-delay: 3.2s;
      transition-delay: 3.2s;
    }
    &:nth-child(17n) {
      -webkit-transition-delay: 3.4s;
      -o-transition-delay: 3.4s;
      transition-delay: 3.4s;
    }
    &:nth-child(18n) {
      -webkit-transition-delay: 3.6s;
      -o-transition-delay: 3.6s;
      transition-delay: 3.6s;
    }
    &:nth-child(19n) {
      -webkit-transition-delay: 3.8s;
      -o-transition-delay: 3.8s;
      transition-delay: 3.8s;
    }
    &:nth-child(20n) {
      -webkit-transition-delay: 4s;
      -o-transition-delay: 4s;
      transition-delay: 4s;
    }
  }
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
.slide-down {
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}
.fade-in {
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.section--title {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    background-color: $color--2;
    height: 6px;
    width: 6px;
    top: 10px;
    transition: all 0.3s ease-in-out 0.4s;
    transition-delay: 0.6s;
    border-radius: 50%;
    opacity: 0;
  }
  &::before {
    content: "";
    position: absolute;
    right: -15px;
    background-color: $color--2;
    height: 6px;
    width: 6px;
    top: 10px;
    transition: all 0.3s ease-in-out 0.4s;
    transition-delay: 0.6s;
    border-radius: 50%;
    opacity: 0;
  }
}
input:focus,
button:focus {
  outline: none;
}
.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
}

.textBlock p + h3,
.textBlock p + h4,
.textBlock p + h5,
.textBlock p + h6,
.textBlock ul + h3,
.textBlock ul + h4,
.textBlock ul + h5,
.textBlock ul + h6,
.textBlock ol + h3,
.textBlock ol + h4,
.textBlock ol + h5,
.textBlock ol + h6 {
  margin-top: 1.875rem;
}
.breadcrumbs {
  color: #443f3f;
  display: flex;
  flex-wrap: wrap;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  letter-spacing: 0.09em;
  line-height: 0.75rem;
  padding: 30px 0 0 0;
  text-transform: uppercase;
  li {
    a {
      color: #c7c7c7;
      text-decoration: none;
      font-family: ".";
      font-weight: 900;
      letter-spacing: 2.5px;
      
      &:hover{
        color: $color--1;
      }
    }
    &:last-child {
      overflow: hidden;
      max-width: 550px;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:nth-child(2){
      &::before{
        background-color:#c7c7c7;
      }
    }
  }
  .separator {
    position: relative;
    
    &::before {
      content: "";
      position: absolute;
      width: 6px ;
      height: 6px;
      background-color:#443f3f;
      top: 4px;
      left: -4px;
      border-radius: 50%;
      display: block;
      transition: all 0.3s ease-in-out;
    }
  }
  li + li {
    margin-left: 10px;
    // 
  }
}
