@font-face {
    font-family: 'FreightSansProBlack';
    src: url('../fonts/FreightSansProBlack-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBlack';
    src: url('../fonts/FreightSansProBlack-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBlack';
    src: url('../fonts/FreightSansProBlack-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBlack-Regular.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBook';
    src: url('../fonts/FreightSansProBook-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProLight';
    src: url('../fonts/FreightSansProLight-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBold';
    src: url('../fonts/FreightSansProBold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProLight';
    src: url('../fonts/FreightSansProLight-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBold';
    src: url('../fonts/FreightSansProBold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBook';
    src: url('../fonts/FreightSansProBook-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBook';
    src: url('../fonts/FreightSansProBook-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBook-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProBold';
    src: url('../fonts/FreightSansProBold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProBold-Regular.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProMedium';
    src: url('../fonts/FreightSansProMedium-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProMedium';
    src: url('../fonts/FreightSansProMedium-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProMedium';
    src: url('../fonts/FreightSansProMedium-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProMedium-Regular.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProLight';
    src: url('../fonts/FreightSansProLight-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProLight-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProSemibold';
    src: url('../fonts/FreightSansProSemibold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProSemibold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProSemibold';
    src: url('../fonts/FreightSansProSemibold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProSemibold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'FreightSansProSemibold';
    src: url('../fonts/FreightSansProSemibold-Regular.woff2') format('woff2'),
        url('../fonts/FreightSansProSemibold-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: '.';
    src: url('../fonts/38c66e3b0b8f7bdcf6f73be8240cbf6e.woff2') format('woff2'),
        url('../fonts/38c66e3b0b8f7bdcf6f73be8240cbf6e.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}





@font-face {
    font-family: '.';
    src: url('../fonts/83361a350464c694898d89b84b71b3f9.woff2') format('woff2'),
        url('../fonts/83361a350464c694898d89b84b71b3f9.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: '.';
    src: url('../fonts/5b5fbd5f34a730ad3bab20d20caf6cb9.woff2') format('woff2'),
        url('../fonts/5b5fbd5f34a730ad3bab20d20caf6cb9.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: '.';
    src: url('../fonts/ff40f23dc3f9e20094c1318f426bb4b8.woff2') format('woff2'),
        url('../fonts/ff40f23dc3f9e20094c1318f426bb4b8.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('../fonts/b7f6bdf5c0d10c057408c37c70fcf926.woff2') format('woff2'),
        url('../fonts/b7f6bdf5c0d10c057408c37c70fcf926.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: '.';
    src: url('../fonts/0ec104ac95b162831af84971c98577b6.woff2') format('woff2'),
        url('../fonts/0ec104ac95b162831af84971c98577b6.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: '.';
    src: url('../fonts/de17c392915075b0cfc0a10ba3d4b7e9.woff2') format('woff2'),
        url('../fonts/de17c392915075b0cfc0a10ba3d4b7e9.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: '.';
    src: url('../fonts/66c492feee6e030708525a4ee1e4dd16.woff2') format('woff2'),
        url('../fonts/66c492feee6e030708525a4ee1e4dd16.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

